{% extends "main.html" %}

{% block content %}
<div class="row my-3">
    <div class="col-md-4 my-2 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Change Password</h4>
            </div>

            <div class="card-body">
                {% if form.non_field_errors %} 
                    {% for error in form.non_field_errors %} 
                    <div class="alert alert-danger" role="alert"> {{ error }} </div> 
                    {% endfor %} 
                {% endif %}
                <form action="{% url "change_password" %}" method="post">
                    {% csrf_token %}
                    
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                        {% for error in field.errors %} 
                            <p class="text-danger mb-0"> {{ error }} </p> 
                        {% endfor %} 
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-danger w-100">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}