{% extends "main.html" %}

{% block content %}

<div class="container py-5">
    <div class="text-center">

        <h2 class="font-weight-bold mb-3">Register for <u>{{ event.name }}</u></h2>
        <p class="text-muted mb-4">Are you sure you want to register for this event?</p>

        <form action="" method="post">
            {% csrf_token %}

            <a href="{% url "event" event.id %}" class="btn btn-outline-secondary mr-2">Go Back</a>
            <button type="submit" class="btn btn-primary">Confirm Registration</button>
        </form>

    </div>
</div>

{% endblock content %}