{% extends "main.html" %}

{% block content %}
    {% if page == "register" %}
    <h1>Register</h1>

    <form action="{% url "register" %}" method="post">
        {% csrf_token %}
        
        {{form.as_p}}

        <div>
            <input type="submit" value="Register">
        </div>

        <p>Already have an account ? <a href="{% url "login" %}">Login</a></p>
    </form>
    {% else %}
    <h1>Login User</h1>

    <form action="{% url "login" %}" method="post">
        {% csrf_token %}
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <input type="submit" value="Login">
        </div>

        <p>Don't have an account ? <a href="{% url "register" %}">Register</a></p>
    </form>
    {% endif %}
{% endblock content %}