<!DOCTYPE html>{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CodeBattle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

        <style>
            @import url('{% static "fonts/Menlo.ttf" %}');

            body {
                font-family: 'Karla', sans-serif;
            }

            pre[class=language-*], code[class=language-*] {
                font-family: 'Menlo', sans-serif;
            }
        </style>


        {% block css %}{% endblock css %}
    </head>
    <body>
        {% include "partials/navbar.html" %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    {% include "partials/alert.html" with alert_class="alert-danger" message=message %}
                {% else %}
                    {% include "partials/alert.html" with alert_class="alert-"|add:message.tags message=message %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </body>
</html>